h1{
    font-weight: 700;
    font-size: 45px;
    margin: 10px;}

input{
    width: 100%;
}    

.todo-container {
    text-align: left;
}

.kg-row{
    margin: 10px;
}

.kg-button{
           min-width: 80px;
}